@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-kaiti;
  }
}

@layer utilities {
  @keyframes float-breathing {

    0%,
    100% {
      transform: translateY(0);
      opacity: 0.3;
    }

    50% {
      transform: translateY(-20px);
      opacity: 0.8;
    }
  }

  .animate-float-breathing {
    animation: float-breathing 3s ease-in-out infinite;
  }
}

textarea:focus,
input:focus {
  @apply outline-none ring-2 ring-stone-400/50;
}